:root {
  --zoom-value: 0;
}
h1 {
  font-weight: normal;
}

.home {
  height: 100%;
  background-color: #dddddd;
}

.content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
